<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adop.example.adopsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <!-- 28 타켓 이상 일때 반드시 넣자!!! -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name="com.adop.example.adopsample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.adop.example.adopsample.Banner.BannerActivity"/>
        <activity android:name="com.adop.example.adopsample.Native.NativeActivity"/>
        <activity android:name="com.adop.example.adopsample.Native.NativeCardListActivity"/>
        <activity android:name="com.adop.example.adopsample.Native.NativeSmallCardListActivity"/>
        <activity android:name="com.adop.example.adopsample.Interstitial.InterstitialActivity"/>
        <activity android:name="com.adop.example.adopsample.Reward.RewardActivity"/>
        <activity android:name="com.adop.example.adopsample.Offerwall.OfferwallActivity"/>
        <activity android:name="com.adop.example.adopsample.RewardInterstitial.RewardInterstitialActivity"/>
        <activity android:name="com.adop.example.adopsample.AppOpen.AppOpenActivity"/>
        <!-- AdMob Mediation Activity-->
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <!-- AdMob Mediation Activity-->
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />
    </application>

    <!-- AdMob Mediation Permission-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- AdMob Mediation Permission -->

</manifest>